[package]
name = "proxy-scraper-checker"
version = "0.1.0"
edition = "2024"
license = "MIT"
publish = false

[dependencies]
color-eyre = "=0.6.4"
crossterm = { version = "=0.28.1", features = [
    "event-stream",
], optional = true }
derivative = "=2.2.0"
dirs = "=6.0.0"
env_logger = "=0.11.8"
fancy-regex = "=0.14.0"
futures = { version = "=0.3.31", optional = true }
log = "=0.4.27"
maxminddb = { version = "=0.26.0", features = ["mmap"] }
ratatui = { version = "=0.29.0", optional = true }
rlimit = "=0.10.2"
serde = "=1.0.219"
serde_json = "=1.0.140"
tokio = { version = "=1.45.1", features = ["full"] }
toml = "=0.8.22"
tui-logger = { version = "=0.17.3", optional = true }
url = "=2.5.4"

[features]
tui = ["dep:crossterm", "dep:futures", "dep:ratatui", "dep:tui-logger"]

[target.'cfg(not(target_os = "android"))'.dependencies]
reqwest = { version = "=0.12.18", default-features = false, features = [
    "brotli",
    "charset",
    "gzip",
    "hickory-dns",
    "http2",
    "json",
    "macos-system-configuration",
    "rustls-tls",
    "socks",
] }

[target.'cfg(target_os = "android")'.dependencies]
reqwest = { version = "=0.12.18", default-features = false, features = [
    "brotli",
    "charset",
    "gzip",
    "http2",
    "json",
    "macos-system-configuration",
    "rustls-tls",
    "socks",
] }

[profile.release]
strip = true
lto = "fat"
codegen-units = 1
