aiodns>=3.0,<4
aiohttp-socks>=0.7,<0.9
aiohttp>=3.9.0b0,<4; python_version >= "3.12"
aiohttp>=3.8,<4; python_version < "3.12"
rich>=12.3,<14
typing-extensions>=4.4,<5
uvloop>=0.16,<0.20; implementation_name == "cpython" and (sys_platform == "darwin" or sys_platform == "linux")
